@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


*{
  margin: 0;
  padding: 0;
}

.App{
  position: relative;
}

body{
  margin: 0;
  padding: 0;
  background-color: #e9f1ec;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 4rem;
  text-align: center;
}

h2{
  font-size: 2rem;
  text-align: center;
}


h1, h2, h3{
  color: #fff;
  z-index: 10;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.flex{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}


/* ** *** header *** ** */
#header{
  /* background-color: #AFC2D5; */
  position: sticky;
  top:0;
  left: 0;
  z-index: 5;
}

#header ul{
  justify-content: space-around;
  align-items: center;
}

/* ** *** *** home nav */

.home-nav a {
  color: #fff;
}

.home-nav svg{
  fill: #fff;
}

/* ** *** *** shop nav */

.shop-nav{
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.shop-nav a {
  color: #000;
}

.cart-btn{
  cursor: pointer;
  position: relative;
}

.item-counter{
  position: absolute;
  left: -20px;
  bottom: 0;
  background-color: #fff;
  border-radius: 100%;
  padding: .1rem .5rem;
}

/* ** *** home page  *** ** */
#home-page{
  background: url('./assets/img/ketzalak_notewood.jpg');
  width: 100%;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#home-page .container{
  align-items: center;
  max-width: 900px;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.overlay-home{
  position: absolute;
  top:0;
  left: 0;
  background-color: #000000bd;
  width: 100%;
  height: 100%;

}

/* Shop Page*/
#shop-page{
  align-items: center;
  padding: 2rem;
}

/* ** search bar ** */
#search-bar p{
  font-size: 2rem;
  font-weight: 600;
}

/* ** item grid ** */
#item-grid{
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}


/* ** *** item  *** ** **/
#item{
  align-items: center;
  gap: 1rem;
  max-width: 500px;
}

#item img{
  max-width: 150px;
}


#item .title{
  font-size: 1.5rem;
}

#item .price{
  font-size: 1rem;
  font-weight: 500;
}

#item .description{
  font-weight: 300;
}

.available-stock{
  font-weight: 300;
  font-size: .8rem;
  color: rgb(25, 137, 25)
}
